SPECIALIZATION {
    display: block;
    text-align: center;
    margin: 10px 20px 10px 20px;
    margin-top: 12pt;
    font-size: 15pt;
}

NAME {
    font-style: italic;
    text-align: center;
    background-color:aqua;
}

TIME {
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: pink;
}
COUNTRY {
    display: block;
    text-align: center;
    background-color:red;
}
AGE {
    display: block;
    text-align: center;
    background-color: yellow;
}
STUDIO {
    display: block;
    text-align: center;
    background-color:darkgreen;
}
FACULTY {
    display: block;
    margin: 50px 100px;
    border-style: solid;
    border-color: #8C0088;
    text-align: center;
    font-size: 15pt;
}